:root {
    --dark: ;
    --light: ;
    --text-color: black;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 1;
}

body {
    background-color:white;
    background-image: url(../images/sunsetbackground.JPG);
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
}


header {
    padding: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color:#988A95;
    color: black;
    display: flex;
    /* border-bottom: #C2856C solid 20px; */
    
}

header h1 {
    display: flex;
    font-size: 50px;
    display: inline-block;
    border-bottom: #C2856C solid 5px;
}

header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 35px;
    display: flex;
    justify-content: space-around;
    margin-left: 800px;

}

header nav ul li {
    display: flex;
    flex-wrap: wrap;
    display: inline-block;
    justify-content: space-around;
    margin-left: 25px;
    border-bottom: #C2856C solid 5px;

}

nav a:hover {
    color: #C2856C;
}

a {
    color: black;
    text-decoration: none;
} 

p {
    font-size: 24px;
    color: black;
    text-shadow: 1px 1px 1px #C2856C ;
}

#parent {
    display: flex;
    margin-left: 60px;
    font-size: 50px;
    
    
}

.h3 {
   
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-right: #C2856C 20px solid;
    margin-top: 60px;
    margin-bottom: 60px;
    padding-right: 40px;
      
}

#about-me {
    
    border-bottom: #C2856C solid 20px;
    background-color: #988A95;
    border-radius: 20px;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    box-shadow: 5px 5px 20px; 
    
}

#work {
    
    border-bottom: #C2856C solid 20px;
    background-color: #988A95;
    border-radius: 20px;
    display: flex;
    justify-content: space-evenly;
    box-shadow: 5px 5px 20px; 
}

#resume {
    
    padding-right: 20px;
    padding-left: 20px;
    border-bottom: #C2856C solid 20px;
    border-radius: 20px;
    background-color: #988A95;
    display: flex;
    justify-content: space-evenly;
    box-shadow: 5px 5px 20px; 
}

.box {

display: flex;
text-align: right;
text-wrap: wrap;
margin-bottom: 60px;
padding: 40px;
height: 400px;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
background-color: #988A95;
color: #988A95 ;
border-radius: 20px;
border: #C2856C solid 10px;
font-size: 12px;
box-shadow: 5px 5px 10px;
}

figure h3 {

    position: absolute;
    font-size: 40px;
}

#box1 {

    display: flex; 
    justify-content: space-evenly;
    text-align: center;
    margin-top: 60px;
    position: relative;
    text-wrap: wrap;

}

#box1 img {

    display: flex;
    padding-bottom: 0px;
    transform: rotate(340deg);
    height: 350px;
    border: #C2856C groove 10px;
}

#box2 {
    
    display: flex;
    text-align: center;
    margin-top: 60px;
    position: relative;
    text-wrap: wrap;
    justify-content: left;
   
}

#box2-div1 {
    display: flex;
    flex-direction: column;

}

#box2-refactoring-html-text {

    border-bottom: #C2856C 5px solid;
}

#box2-refactoring-html-text:hover {
    
    color: #C2856C;

}

#box2 img {

    display: flex;
    height: 350px;
    width: 300px;
    border-radius: 5px;
    border: #C2856C groove 10px;
    transform: rotate(5deg);
    
}


#box3 {

    display: flex;
    text-align: center;
    margin-top: 60px;
    position: relative;
    text-wrap: wrap;
}

footer {

    border-top: #C2856C solid 20px;

}

#box4 {

    background-color: #988A95;
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
  
}

#footer-ul {

    font-size: 24px;
    list-style-type: none;
}  


/* Mobile */

@media screen and (max-width: 480px) {
    .hero {
        display: flex;
       
    }
    
}

/* Extra small devices */

@media (min-width: 481px) and (max-width: 767px) {
    
}

/* Small Tablets */

@media (min-width: 768px) and (max-width: 991px) {
    
}

/* Large tablets/laptops */

@media (min-width: 992px) and (max-width: 1199px) {
    
}

/* Desktops */

@media (min-width: 1200px) and (max-width: 1919px) {
    
}

/* Extra large screens */

@media (min-width: 1920px) {
    
}



