:root {
    --dark: #ae6451;
    --light: #519BAE;
    --text-color: white;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #ae6451;
}

header {
    padding: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #519BAE;
    color: white;
}

header h1 {
    display: inline-block;
    font-size: 50px;
}

header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 35px;
}



header nav ul li {
    display: flex;
    display: inline-block;
    justify-content: space-evenly;
    margin-left: 25px;

}

nav a:hover {
    color: white;
}

a {
    color: #ae6451;
    text-decoration: none;
} 

p {
    font-size: 14px;
}

/* .hero {
    height: 800px;
    width: 100%;
    margin-bottom: 50px;
    background-image: url(../images/background.jpg);
    background-size: cover;
    background-position: center;
} */

.box {
display: flex;
text-align: right;
text-wrap: wrap;
margin-bottom: 60px;
padding: 40px;
height: 300px;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
background-color: #519BAE;
color: white;
}

figure h3 {
    position: absolute;
    ;
}

#box1 {
    border-left: #ae6451 solid 400px;
    display: flex;
    text-align: center;
    /* position: top ; */
    margin-top: 60px;
    position: relative;



}

#box1 img {
    display: flex;
    padding: 5px;
    transform: rotate(340deg);
    
}







